@page "/cardfile"

<PageTitle>View Card File</PageTitle>


@* <button class="btn btn-primary" @onclick="showCards">Show Cards</button><br />
    <p>@contents</p> *@

<h1>Card File Contents</h1>

@if(contents == null)
{
<p>Card list not loaded.</p>
}
else
{
    @foreach (var line in contents)
    {
        @line <br />
    }
}

@code {
    string[] contents;

    protected override void OnInitialized()
    {
        if (File.Exists("cards.txt"))
        {
            contents = File.ReadAllLines("cards.txt");
        }

    }
}
